<div class="container is-fluid">
    <div class="navbar is-info">
       <!----Menu------------------------------------------------------------>
     <div class="navbar-menu">
       <div class="navbar-start">
         <a class="navbar-item" routerLink="/"><img src="/assets/images/tiba-logo.png"></a>
         <a class="navbar-item" routerLink="/">Home</a>
         <a class="navbar-item" routerLink="projects">Projects</a>
         <a class="navbar-item" routerLink="about">About Us</a>
         <a class="navbar-item" routerLink="datasets">Datasets</a>
         <a class="navbar-item" routerLink="dashboards">Dashboards</a>
         <a class="navbar-item" routerLink="partners">Partners</a>
         <a class="navbar-item" routerLink="publications">Publications</a>
       </div>
     </div>
   </div>
   </div>

