<p>The evaluation of mixed malaria infections and developing a responsive surveillance of malaria infections in Rwanda 
    has the objectives of integrating the diagnostics of mixed species of malaria infection and developing real time malaria 
    surveillance. It was developed by Dr Rutabayiro Ngoga and Dr Jean Pierre Munyampundu with the targets of: 
    (i) To evaluate the existence of non-P. falciparum malaria and potential for mixed-species infections in Rwanda. 
    (ii) To assess a diagnostic test suitable for accurately detect different Plasmodium species in clinical samples for 
    ultimate use in low- resource settings; 
    (iii) To analyze transcriptome (RNA-seq) of whole blood samples infected with mixed parasite species to gain insight 
    into inter-species interactions of parasites. 
    (iv) To develop a model that allow to represent malaria data in a format knowledgeable to policy makers. 
    (v) To develop a query language based on the underlying data model. 
    (vi) To deploy a surveillance tool that implement the underlying query language allowing health professionals and policy 
    makers to formulate a wide range of queries and retrieve feedbacks within a reasonable amount of time and minimum efforts</p>
