
  <div class="container is-fluid">
  <section class="hero is-halfheight">
  <div class="columns">
    <div class="column">
      <p class="title has-text-centered">TIBA Rwanda Projects</p>
      <div class="columns is-mobile">
        <div class="column">
          <p class="title is-info">Mixed Malaria evaluation</p>
          <h2>Evaluation of mixed malaria infections and developing a 
          responsive surveillance of malaria infections in Rwanda.</h2>
          <a mat-raised-button href="http://localhost:4200/projects">More details...</a>
          </div>

        <div class="column">
        <p class="title is-info">Schistomiasis Tracking</p>
        <h2>Determining the prevalence of schistosomiasis among PSAC 
        living on Nkombo Island in Lake Kivu and to map the distribution and infectivity of snails in the area.</h2>
        <a mat-raised-button href="http://localhost:4200/projects">More details...</a>
        </div>
        <div class="column">
        <p class="title is-info">Malaria and RapidSMS</p>
        <h2>Evaluate the impact of e-health in the management of severe malaria cases in Rwanda.Developing a RapidSMS 
        based system for severe malaria reporting from the CHWs.</h2>
        <a mat-raised-button href="http://localhost:4200/projects">More details...</a>
       </div>

        <div class="column">
        <p class="title is-info">Big Data Malaria Platform</p>
        <h2> Developing a Big data platform for strengthening malaria surveillance program in Rwanda 
        from the existing system developed in RapidSMS.</h2>
        <a mat-raised-button href="http://localhost:4200/projects">More details...</a>
        </div>
       <div class="column">
        <p class="title is-info">Emergency Response</p>
        <h2>COVID19 mitigation strategies in Rwanda and The epidemiology of 
        Measles virus genotypes associated with outbreaks in Rwanda, 2019.</h2>
        <a mat-raised-button href="http://localhost:4200/projects">More details..</a>
        </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <div class="container is-fluid">
    <section class="hero is-small">
        <div class="columns">
            <div class="column" routerLink="/"><a><img src="/assets/images/partners/nihr.png"></a></div>
            <div class="column" routerLink="/"><a><img src="/assets/images/partners/moh.png"></a></div>
            <div class="column" routerLink="/"><a><img src="/assets/images/partners/ur.PNG"></a></div>
            <div class="column" routerLink="/"><a><img src="/assets/images/partners/rbc.png"></a></div>
            <div class="column" routerLink="/"><a><img src="/assets/images/partners/risa1.png"></a></div>
          </div>
  </section>
  </div>

